@mixin background{
    font-family: 'Josefin Sans', sans-serif;
    background-size:cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    height:100px; 
    backdrop-filter:blur(10px);
    height:637px;
    color:rgb(249, 249, 250);
    line-height:30px;
  
}
body{
    @include background;
    overflow:hidden;
}

.billboard{
    font-size:20px;
    margin-right:70%;
    position:relative;
    left:40px;
    font-family: 'Luckiest Guy', cursive;
}

.fab{
    padding:12px;
    position:relative;
    left:50%;
    font-size:20px;
    border: 1px solid white;
    border-radius:100%;
}

.fa-facebook-f:hover{
    color:rgb(0, 107, 143);
}

.fa-twitter:hover{
    color:rgb(84, 182, 214)
}

.fa-reddit-alien:hover{
    color:rgba(255, 8, 0, 0.842);
}

.fa-linkedin-in:hover{
    color:rgb(0, 107, 143);
}
form{
    height:30%;
    position:relative;
    left:35%;
    bottom:150px;
    label{
        position:relative;
        top:40px;  
    }
    input{
        padding:12px;
        margin-top:35px;
        width:40%;
        border:none;
        border-top-right-radius:20px;
        background:transparent;
        font-size:15px;
        color:white;
    }

    .submit{
        margin-left:70px;
        width:30%;
        background:transparent;
        border:1.5px solid white;
        color:rgb(196, 190, 190);
        padding:12px;
        border-bottom-left-radius:20px;
        margin-top:15px
}

input:hover{
    border-bottom:2px solid white;
}


}
footer{
    backdrop-filter:blur(100px);
    position:relative;
    bottom:15em;
    ul{
        list-style:none;
        display:flex;
        margin-top:18em;
    }
    li{
        padding-left:40px;
    }
    a{
        text-decoration:none;
        color:white;
    }
   
}
.tom{
    margin-left:30px;
}
